
mm90.l
*.lis
*.st0
*.ic0
scope.log
stackTrace.file
scope.log.bak
AND_fan_in_4/CMOS_NAND_fin4.mt0
AND_fan_in_4/CMOS_NAND_fin4.mt0
AND_fan_in_4/CMOS_NAND_fin4.mt0
Xor2_FinFET/IG_xor2.pvadir/pvaEnv
Xor2_FinFET/IG_xor2.pvadir/pvaCG.log
Xor2_FinFET/IG_xor2.pvadir/pvaRadh.va
Xor2_FinFET/IG_xor2.valog
Xor2_FinFET/IG_xor2_st.pvadir/pvaCG.log
Xor2_FinFET/IG_xor2_st.pvadir/pvaEnv
Xor2_FinFET/TG_xor2_st.valog
Xor2_FinFET/TG_xor2_st.pvadir/pvaRadh.va
Xor2_FinFET/TG_xor2_st.pvadir/pvaInfo
Xor2_FinFET/TG_xor2_st.pvadir/pvaEnv
Xor2_FinFET/TG_xor2_st.pvadir/pvaCG.log
Xor2_FinFET/TG_xor2_st.pvadir/pvaRTL_win64.dll
Xor2_FinFET/TG_xor2.valog
Xor2_FinFET/TG_xor2.pvadir/pvaRTL_win64.dll
Xor2_FinFET/TG_xor2.pvadir/pvaRadh.va
Xor2_FinFET/TG_xor2.pvadir/pvaInfo
Xor2_FinFET/TG_xor2.pvadir/pvaEnv
Xor2_FinFET/TG_xor2.pvadir/pvaCG.log
Xor2_FinFET/lp_xor2_st.pvadir/pvaRTL_win64.dll
Xor2_FinFET/lp_xor2_st.pvadir/pvaRadh.va
Xor2_FinFET/lp_xor2_st.pvadir/pvaInfo
Xor2_FinFET/lp_xor2_st.pvadir/pvaEnv
Xor2_FinFET/lp_xor2_st.pvadir/pvaCG.log
Xor2_FinFET/lp_xor2.pvadir/pvaCG.log
Xor2_FinFET/lp_xor2.pvadir/pvaEnv
Xor2_FinFET/lp_xor2.pvadir/pvaInfo
Xor2_FinFET/lp_xor2.pvadir/pvaRadh.va
Xor2_FinFET/lp_xor2.pvadir/pvaRTL_win64.dll
Xor2_FinFET/IG_xor2_st.pvadir/pvaInfo
Xor2_FinFET/IG_xor2_st.pvadir/pvaRadh.va
Xor2_FinFET/IG_xor2_st.pvadir/pvaRTL_win64.dll
Xor2_FinFET/IG_xor2.pvadir/pvaInfo
Xor2_FinFET/IG_xor2.pvadir/pvaRTL_win64.dll
